* {
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 375px;
  max-width: 100vw;
  height: 100vh;
  font-family: 'Figtree', sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
  background-color: hsl(47, 88%, 63%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 325px;
  border: 1px solid hsl(0, 0%, 7%);
  border-radius: 15px;
  box-shadow: 10px 10px 0px 0px hsl(0, 0%, 7%);
  background-color: hsl(0, 0%, 100%);
}

.card-image {
  width: 90%;
  height: auto;
  border-radius: 15px;
  margin: 20px auto;
}

.info-container {
  margin-left: 15px;
}

.learning {
  background-color: hsl(47, 88%, 63%);
  width: 74px;
  height: 25px;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
  margin: 2px;
  padding: 4px;
}

.published {
  font-size: 12px;
  font-weight: 100;
  padding-bottom: 3px;
}

.foundations {
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  padding-bottom: 3px;
}

.foundations:hover {
  color: hsl(47, 88%, 63%);
}

.description {
  font-size: 16px;
  font-weight: 400;
  color: hsl(0, 0%, 50%);
  padding-bottom: 5px;
}

.author {
  display: inline-grid;
  grid-template-columns: auto auto;
}
.avatar {
  max-width: 40px;
  height: 40px;
}

h5 {
  margin-bottom: 20px;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 600px) {
  .card-container {
    width: 90%;
    max-width: none; /* Remove max-width for smaller screens */
  }
}
